# Python cache
__pycache__/
*.pyc

# MacOS files
.DS_Store

# Python virtual environments
venv/
.env

# Databases
*.db
*.db-wal
*.db-shm

# Additional polish rules
# Python standard gitignore
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
virtualenv/
.vscode/
.idea/
